# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.cache
*.log

# Visual Studio files
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.iml

# SQLite
*.db
*.db-shm
*.db-wal

# Angular
dist/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.angular/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Test Results
TestResults/
[Cc]overage/
*.coverage
*.coveragexml

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/