<div class="todo-container">
  <h1>Todo List📝</h1>
  
  <div class="add-todo">
    <input
      type="text"
      [(ngModel)]="newTodoTitle"
      placeholder="Add new todo..."
      (keyup.enter)="addTodo()"
    />
    <button (click)="addTodo()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="todo-list">
    @for (todo of todos$ | async; track todo.id) {
      <app-todo-item
        [todo]="todo"
        (toggleTodo)="onToggleTodo($event)"
        (deleteTodo)="onDeleteTodo($event)"
        (updatePriority)="onUpdatePriority($event)"
        (updateDeadline)="onUpdateDeadline($event)"
        (updateTitle)="onUpdateTitle($event)"
      />
    }
  </div>
</div>
